<link-form (onAdded)="onAddLink($event)"></link-form>

<div class="linkCollection">
  <table class="table text-left">
    <thead>
      <tr>
        <th>Link</th>
        <th>Opis</th>
        <th>Status</th>
        <th>Ulubiony</th>
        <th>Data utworzenia</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let link of links">
        <td><a href="{{ link.url }}" title="{{ link.name }}">{{ link.name }}</a></td>
        <td>{{ link.description }}</td>
        <td>{{ link.status }}</td>
        <td>{{ link.favourite ? "TAK" : "" }}</td>
        <td>{{ link.createdAt | date:'yyyy-MM-dd HH:mm:ss' || "" }}</td>
        <td>
          <button class="btn btn-danger glyphicon glyphicon-remove" (click)="removeLink(link._id)"></button>
          <button class="btn btn-info glyphicon glyphicon-star{{ link.favourite ? '-empty' : ''}}" (click)="switchFavourite(link)"></button>
          <button class="btn btn-warning glyphicon glyphicon-{{ link.status === 'TO_READ' ? 'ok' : 'dashboard' }}" (click)="switchStatus(link)"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
